@font-face {
    font-family: 'FonteLogo1';
    src: url("../_fonts/FrederickatheGreat-Regular.ttf");
}
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/CinzelDecorative-Regular.ttf");
}
:root{
    --cor4: #2AB320;
    --cor3: #186612;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}

header{
    border-bottom: solid 1px #606060;
    width: 100%;
    min-width: 300px;
    max-width: 2000px;
    align-items: center;
    height: 150px;
}

hgroup h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 25pt;
    color: var(--cor3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}    

hgroup h2{
    font-family: 'FonteLogo1';
    color: #888888;
    font-size: 20pt;
    padding: 0px;
    margin-top: 2px;
    margin-left: 120px;
}

img#logo{
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

* p{
    line-height: 1.5;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    min-width: 300px;
    max-width: 2000px;
    align-self: center;
}

main{
    width: 100%;
    min-width: 300px;
    max-width: 2000px;
}

main h1{
    font-family: 'FonteLogo';
    color: white;
    font-size: 3em;
    text-align: center;
}

main p{
    margin: 10px;
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
}

main img{
    max-width: 350px;
    display: block;
    margin: auto;
}

article#empresa{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--cor4);
    padding: 10px;
}

img#casal{
    border-radius: 10px;
}

section h1{
   color: var(--cor3);
}

section p{
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
}

section#tratamento{
    background-color: var(--cor4);
    padding: 10px;
    margin-top: 70px;
}

section#tratamento h1{
    color: white;
    font-size: 3em;
    margin: auto;
}

section#tratamento p{
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    text-align: justify;
    margin: 10px;
}

footer{
    clear: both;
    border-top: 1px solid #606060;
    margin-top: 50px;
}

footer p{
    text-align: center;
}
