@font-face {
    font-family: 'FonteLogo1';
    src: url("../_fonts/FrederickatheGreat-Regular.ttf");
}
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/CinzelDecorative-Regular.ttf");
}

:root{
    --cor0: #186612;
    --cor1: #FCF18B;
    --cor2: #E6D489;
    --cor3: #FCDA8B;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, var(--cor3), var(--cor2), var(--cor1));
    height: 100vh;
}

header#cabecalho{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 2em;
    color: var(--cor0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
}

header#cabecalho h2{
    font-family: 'FonteLogo1';
    color: #888888;
    font-size: 1.2em;
    padding: 0px;
    margin-top: 2px;
    margin-left: 20px;    
}

img#logo{
    float: left;
    margin-top: 0px;
    margin-left: 5px;
}

nav{
    display: block;
}

nav ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    right: 20px;
}

nav li{
    font-size: 7.7pt;
    display: block;
    background-color: #dddddd;
    padding: 5px;
    margin: auto;
    transition: background-color 1s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    list-style: none;
}

nav li:hover{
    background-color: #606060;
}

nav h1{
    display: none;
}

nav a{
    color: #000000;
    text-decoration: none;
}

nav a:hover{
    color: #ffffff;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
    border-radius: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    line-height: 1.5em;
}

article > h1{
    font-family: 'FonteLogo1';
    font-size: 2em;
    text-align: center;
    background-color: var(--cor3);
    padding: 3px;
    margin: auto;
}

article > h2{
    font-family: 'FonteLogo';
    font-size: 2em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 8px;
}

section#fotos h1{
    font-family: 'FonteLogo1';
    font-size: 2em;
    text-align: center;
    background-color: var(--cor3);
    padding: 3px;
    margin: auto;
}

ul#fotos{
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
    align-items: center;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
}

ul#fotos li span{
    opacity: 0;
    color: white;
    text-shadow: 0, 0, 0, black;
    background-color: rgba(0, 0, 0, .3);
    font: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#fotos > li > span > a{
    color: white;
}

ul#fotos li:hover{
    -webkit-transform: scale(1.5);
}

ul#fotos li:hover span{
    opacity: 1;
}

ul#fotos li#aromaterapia{
    background: url("../Imagens/aromaterapia.png") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#aromaterapia:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#barraDeAcces{
    background: url('../Imagens/acces2.jpeg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#barraDeAcces:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#coneIndu{
    background: url("../Imagens/cone_hindu.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#coneIndu:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#constelacaoFamiliar{
    background: url('../Imagens/constelacao_familiar.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#constelacaoFamiliar:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#cromoterapia{
    background: url('../Imagens/cromoterapia.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#cromoterapia:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#ervas{
    background: url('../Imagens/ervas.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#ervas:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#radiestesia{
    background: url('../Imagens/radiestesia.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#radiestesia:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#magiaDivina{
    background: url('../Imagens/magia_divina.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#magiaDivina:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#fotos li#magiaDaNatureza{
    background: url('../Imagens/magia_da_natureza.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos li#magiaDaNatureza:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

footer{
    clear: both;
    border-top: 1px solid #606060;
}

footer p{
    text-align: center;
}

@media (max-width: 1150px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        right: 30px;
        margin-right: 20px;
    }

    .menu-section.on{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: var(--cor0);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav{
        display: block;
    }

    .menu-section.on .menu-toggle{
        position: absolute;
        right: 30px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul{
        text-align: center;
        padding: 0px;
        display: block;
        margin-top: 50px;
        margin-right: 170px;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 7.7pt;
        line-height: 60px;
        display: block;
    }
}